@model IEnumerable<Tess_AssFinal_04.Models.KhachHang>

<p>
    <a asp-controller="KhachHang" asp-action="Create">Create New</a>
    <a asp-controller="KhachHang" asp-action="Rollback">Rollback</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
               <a asp-controller="KhachHang" asp-action="Details" asp-route-id="@item.ID">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
